<body class="archive-page">
    <div class="wrap-body">
        <section id="container">
            <div class="wrap-container clearfix">
                <div id="main-content">
                    <div class="crumbs">
                        <ul>
                            <li><a href="#">Басты бет</a></li>
                            <li><a href="#">Салт-дәстүрлер</a></li>
                        </ul>
                    </div>
                    <section class="content-box box-2">
                            <div class="zerogrid">
                                <div class="row wrap-box">
                                    <div class="col-1-4">
                                        <div class="wrap-col">
                                            <div class="box-item">
                                                <div class="zoom-container">
                                                    <img src="{{ numero }}" />
                                                </div>
                                                <div class="box-item-content">
                                                    <h3><a routerLink='/reports'>Той</a></h3>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-1-4">
                                        <div class="wrap-col">
                                            <div class="box-item">
                                                <div class="zoom-container">
                                                    <img src="{{ anima }}" />
                                                </div>
                                                <div class="box-item-content">
                                                    <h3><a href="single.html">Бата беру</a></h3>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-1-4">
                                        <div class="wrap-col">
                                            <div class="box-item">
                                                <div class="zoom-container">
                                                    <img src="{{ pogoda }}" />
                                                </div>
                                                <div class="box-item-content">
                                                    <h3><a (click)="onclick()">Бас қосу</a></h3>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-1-4">
                                        <div class="wrap-col">
                                            <div class="box-item">
                                                <div class="zoom-container">
                                                    <img src="{{ objectum }}" />
                                                </div>
                                                <div class="box-item-content">
                                                    <h3><a (click)="onclick()">Ерулік</a></h3>
                                                    <ng-container *ngIf="visiblte">
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi.
                                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi.
                                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi.
                                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi.
                                                        </p>
                                                        <iframe id="ytplayer" type="text/html" width="160" height="90" src="https://www.youtube.com/embed/qsOSw1__CmU" frameborder="0"></iframe>
                                                    </ng-container>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </section>
                </div>
            </div>
        </section>
    </div>
</body>

