<body class="home-page">
	<div class="wrap-body">
		<!--////////////////////////////////////Container-->
		<section id="container">
			<div class="wrap-container">
				<!-----------------content-box-1-------------------->
				<section class="content-box boxstyle-1 box-1">
					<div class="zerogrid">
						<div class="row wrap-box"><!--Start Box-->
							<div class="col-1-2">
								<div class="wrap-col">
									<div class="row">
										<div class="header">
											<div class="wrapper">
												<div class="intro" appHighlight>"Қазақтану" танымдық сайтына</div>
												<hr class="line">
												<h2 appHighlight>Қош келдіңіз!</h2>
											</div>
										</div>
										<p class="lead" appHighlight>Бұл веб-сайттың мақсаты - қолданушыларға қазақ халқының тарихы, тілі мен мәдениеті туралы мәлімет беретін ақпарат ресурсын ұсыну.</p>
										<p appHighlight>Біз әр дайым - тарихтан бастап оқудың грамматикасына дейінгі әртүрлі, егжей-тегжейлі, дәл және нақты түсіндірмелер беруге тырысамыз.</p>
										<p appHighlight>Біздің жазбаларымыз әрдайым қызық және мазмұнға толы болады</p>
									</div>
								</div>
							</div>
							<div class="col-1-2">
								<div class="wrap-col">
									<img [src]="welcomepage">
								</div>
							</div>
						</div>
					</div>
				</section>
				<!-------------------------------------------------->
				<div class="zerogrid">
                        <div class="wrap-content" style="padding: 20px;">
                            <h1 class="t-center" style="margin: 40px 0;color: #212121;letter-spacing: 2px;font-weight: 500;">Тарихтан шолу</h1>
                            <article>
                                    <div class="col-1-2">
                                        <div class="art-header">
                                            <img [src]="post1"/>
                                        </div>
                                    </div>
                                    <div class="col-1-2">
                                        <div class="art-content t-center">
                                            <h3>Қасым Хан</h3>
                                            <p>Тарихта адамдар несімен есте қалады? – деген сұрақ кімді болсын мазалайтыны сөзсіз. Өзіміз білетін Керей мен Жәнібек хандар Қазақ хандығының негізін салушы ретінде тарихта қалды. Келесі Қазақ халқының жерін кеңейткен Қасым ханды білеміз. Қасым хан десек бірден «Қасым ханның қасқа жолы» заңдар жинағы еске оралады. Осындай мәліметтерді ғана біліп, бүкіл бір қазақ тарихын білдім деу қате болар. Тарих зерттелді, әлі де зерттелуде және зерттеле бермек. Себебі, қазақ тарихының тамыры тереңде.</p>
                                            <a class="button" href="https://kk.wikipedia.org/wiki/%D2%9A%D0%B0%D1%81%D1%8B%D0%BC_%D1%85%D0%B0%D0%BD">Толығырақ</a>
                                        </div>	
                                    </div>
                            </article>
                            <article>
                                    <div class="col-1-2 f-right ">
                                        <div class="art-header">
                                            <img [src]="post2"/>
                                        </div>
                                    </div>
                                    <div class="col-1-2">
                                        <div class="art-content t-center">
                                            <h3>«Қазақ» газеті</h3>
                                            <p>«Қазақ» атты қоғамдық және әдеби газет 1913 жылғы 2-ші ақпаннан бастап Орынбор қаласында аптасына бір рет, 1915 жылдан аптасына екі рет шығып тұрды. Таралымы 3000, кей жылдары 8000-ға жеткен. Газеттің бірінші редакторы ірі ғалым, ұстаз, жазушы, қоғам қайраткері Ахмет Байтұрсынұлы болған, екінші редакторы жазушы, қоғам қайраткері Міржақып Дулатов, бастырушы «Азамат» серіктестігі, Хұсайын Кәрімовтың баспаханасында басылып тұрған. Газеттің 1918 жылғы сандарының редакторы Жанұзақ Жәнібеков. Газеттің №1 санында оқырмандарға арналған мынадай ғибратты үндеу жазылған: «Жұртқа мұрындық болатын нәрсенің бірі газет. Халыққа газеттің керегі қандай екенін айтып өткеніміз ұнамсыз болмас.</p>
                                            <a class="button" href="https://en.wikipedia.org/wiki/Chinese_language">Толығырақ</a>
                                        </div>
                                    </div>
                            </article>
                            <article>
                                <div class="col-1-2">
                                    <div class="art-header">
                                        <img [src]="post3"/>
                                    </div>
                                </div>
                                <div class="col-1-2">
                                    <div class="art-content t-center">
                                        <h3>Желтоқсан көтерілісі</h3>
                                        <p>1986 жылдың 16 желтоқсанында Брежнев алаңына (қазіргі Республика) жиналған мыңдаған жас Д.Қонаевтың қызметтен кетуіне наразылықтарын білдіріп, ҚКОК-нің 1-хатшысы болған Колбиннің орнына қазақ азаматын тағайындауды талап еткен болатын. Жиналған топтың оңайлықпен тарамайтынын білген Кеңес билігі жастарды алаңнан күштеп қуды.  

											Желтоқсан оқиғасында қанша адамның қаза тапқаны әлі күнге дейін нақты емес. Ресми деректерде қайтыс болған төрт адамның ғана аты айтылса, бейресми дереккөздер марқұм болғандар санының бұдан әлдеқайда көп екенін мәлімдеп келеді. Сондай-ақ, осы көтеріліске қатысқан 99 жас азамат сотталып, 264 студент оқудан шығарылған.</p>
                                        <a class="button" href="https://en.wikipedia.org/wiki/Chinese_language">Толығырақ</a>
                                    </div>	
                                </div>
                            </article>
                        </div>
                    </div>
				<!-----------------content-box-3-------------------->
				<section class="content-box boxstyle-2 box-3">
					<div class="zerogrid">
						<div class="row wrap-box"><!--Start Box-->
							<div class="header">
								<div class="wrapper">
									<div class="intro">Қазақ тілінің</div>
									<hr class="line">
									<h2 class="color-yellow">Ережелері</h2>
								</div>
							</div>
							<div class="row">
								<div class="col-1-4">
									<div class="wrap-col">
										<div class="box-item">
											<div class="zoom-container">
												<img img [src]="fonetica" />
											</div>
											<div class="box-item-content">
												<h4>Фонетика</h4>
												<p>Фонетика – тіл білімінің тілдің дыбыстық жағын зерттейтін саласы</p>
												<a href="https://kk.wikipedia.org/wiki/%D0%A4%D0%BE%D0%BD%D0%B5%D1%82%D0%B8%D0%BA%D0%B0">Толығырақ</a>
											</div>
										</div>
									</div>
								</div>
								<div class="col-1-4">
									<div class="wrap-col">
										<div class="box-item">
											<div class="zoom-container">
												<img img [src]="alipbi" />
											</div>
											<div class="box-item-content">
												<h4>Әліпби</h4>
												<p>Әліпби – жазуда қолданылатын әріптердің белгіленген тәртіп бойынша орналасқан жиынтығы. </p>
												<a routerLink='/alipbi'>Толығырақ</a>
											</div>
										</div>
									</div>
								</div>
								<div class="col-1-4">
									<div class="wrap-col">
										<div class="box-item">
											<div class="zoom-container">
												<img img [src]="lexica" />
											</div>
											<div class="box-item-content">
												<h4>Лексика</h4>
												<p>Лексика — тілдегі сөздердің жиынтығы, сөздік құрам. Лексикаға тілдегі барлық сөздер кіреді.</p>
												<a href="https://kk.wikipedia.org/wiki/%D0%9B%D0%B5%D0%BA%D1%81%D0%B8%D0%BA%D0%B0">Толығырақ</a>
											</div>
										</div>
									</div>
								</div>
								<div class="col-1-4">
									<div class="wrap-col">
										<div class="box-item">
											<div class="zoom-container">
												<img img [src]="gramatica" />
											</div>
											<div class="box-item-content">
												<h4>Грамматика</h4>
												<p>Грамматика – тіл білімінің сөз таптарын, сөздердің өзгеруі мен сөйлем құрылысын зерттейтін саласы.</p>
												<a href="https://kk.wikipedia.org/wiki/%D0%93%D1%80%D0%B0%D0%BC%D0%BC%D0%B0%D1%82%D0%B8%D0%BA%D0%B0">Толығырақ</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				<!-----------------content-box-4-------------------->	
			</div>
		</section>
	</div>
</body>